//
@import 'partials/variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        .button{
            @include padding-div;
            background-color: #0282f9;
            padding: 5px;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        font-family: Roboto,'sans-serif';
        background-color: #0282f9;
        header{
            background-color: white;
            height: 100px;
            @include padding-div;
            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                img{
                    height: 100%;
                    padding: 10px ;
                }
                >.nav_tag{
                    text-transform: uppercase;
                    flex-grow: 1;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        list-style: none;
                        a{
                            font-size: 0.5rem;
                        }
                    }
                }

            }
        }
        .jumbotron{
            width: 100%;
            height: 650px;
            img{
                width: 100%;
                height: 100%;

            }
        }
        .thumb{
            @include padding-div;
            height: 100px;
            img{
                transform: translateY(-80%);
            }
        }
        .description{
            @include padding-div;
            @include padding-top-bottom;
            display: flex;
            background-color: white;

            h2{
                text-transform: uppercase;
            }
            .price_stock{
                color: white;
                margin: 10px 0;
                display: flex;
                text-transform: uppercase;
                background-color: #55ba59 ;
                box-shadow:1px 1px 5px grey ;
                div:nth-child(1){
                    display: flex;
                    justify-content: space-between;
                    flex: 1;
                    padding: 5px;
                };
                div:nth-child(2){
                    padding: 5px;
                    border-left: 1px solid black;
                }
                span{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                span:nth-child(2){

                    text-transform:uppercase;
                }
            }
            .description_content{
                flex-basis: 75%
            }
            .adv{
                flex: 1;
                img{
                    width: 100%;

                }
            }
        }
        .description_advance{
            .description_advance_main{
                background-color: lightgrey;
                @include padding-div;
                display: flex;
                >div{
                    >div{
                        display: flex;
                        span:nth-child(1){
                        flex-basis: 35%;
                        }
                        span:nth-child(2){
                        flex: 1;
                        }
                    }
                    h2{
                        margin: 10px 0;
                    }
                    flex-basis:50%;
                }
            }
        }
        .reminder_img_grey{
            @include padding-div;
            background-color:lightgrey ;
            border-top: 1px solid grey;
            display: flex;
            align-items: center;
            .reminder_img_single{
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-self: stretch;
                flex-basis: 25%;
                border-left:1px solid grey;
                border-right:1px solid grey;

                img{
                    flex-basis: 33%;
                    width: 100%;
                    height: 70%;
                    padding: 18px;
                }
            }
        }
        .main_card{
            @include padding-div;
            @include padding-top-bottom;
            background-color: #1c1c1c;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            .button{
                text-transform: uppercase;
                align-self: center;
            }
            span:nth-child(1){
                background-color: #0282f9;
                color: white;
                padding: 10px;
                position: absolute;
                top: 0px;
                transform: translateY(-50%);
                font-size: 3rem;
                text-transform: uppercase;
            }

            div{
                display: flex;
                flex-wrap: wrap;


                .main_card_single{
                    color: white;
                    flex-basis: 15%;
                    margin-right: 1%;
                    img{
                        width: 100%;
                        object-fit: cover;
                        height: 70%;
                        object-position: top;
                    }
                }
            }

        }
        .reminder_img{
            @include padding-div;
            @include padding-top-bottom;
            display: flex;
            align-items: center;
            .reminder_img_single{
                flex-basis:20%;
                display: flex;
                align-items: center;
                color: white;
                text-transform: uppercase;
                img{
                    padding:10px;
                    width: 40%;
                }
            }
        }
        footer{
            @include padding-div;
            @include padding-top-bottom;
            position: relative;
            background-image: url('/storage/asset/images/dc-logo-bg.png'), url('/storage/asset/images/footer-bg.jpg');
            display: flex;
            flex-direction: column;
            background-size: auto,cover;
            background-repeat: no-repeat;
            background-position-x: right;
            color: #757575;
            .footer_up{
                display: flex;
                width: 50%;
                h2{
                    color: white;
                    text-transform: uppercase;
                }
                ul{
                    list-style: none;
                    li{
                    }
                }
            }
            .footer_down{
                padding-top: 10px;
                padding-bottom: 10px;
                width: 50%;
            }
            .sign_social{
                @include padding-div;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #303030;
                height: 60px;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                .button{
                    background-color: inherit;
                    border:1px solid #0282f9;
                    color: white;
                }
                .social{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-basis: 40%;
                    color:#0282f9 ;
                }
            }
        }


    }





}
